* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    height: 100vh;
    background-image: url(media/wallpapersden.com_valorant-game-team_1920x1080.jpg);
    padding: 10px;
    background-size: cover;
}